<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Cotización PDF</title>
<style>
    body { font-family: Arial; }
    h1 { text-align: center; }
    table, th, td { border: 1px solid black; border-collapse: collapse; }
    th, td { padding: 5px; }
</style>
</head>
<body>
<h1>CWS COMPANY SA DE CV</h1>
<p>Vendedor: {{ datos.vendedor }}</p>
<p>Cliente: {{ datos.cliente }}</p>
<p>Proyecto: {{ datos.proyecto }}</p>
<p>Contacto: {{ datos.contacto }}</p>

<p><strong>Este es un ejemplo sencillo de PDF</strong></p>
</body>
</html>

